______________________________________________________________________________________________
<h1 style="color:#0079D9; font-weight: bold;">1.7 :Tuple Operations & Methods</h1>


______________________________________________________________________________________________

<h2 style="color:#3D3297; font-weight: bold;">Introduction :</h2>

**Tuples:**
- In Python, a **tuple is an ordered collection of items that are immutable**.
- **Tuples can contain elements of different types, including integers, floats, strings, and even other tuples.**
- They are **immutable**, which means once a tuple is created, its content cannot be changed.

Here are some key points about tuples in Python:
- **Ordered:**
  Tuples maintain the order of elements as they are added.
- **Indexable:**
  You can access elements in a tuple using their index (position).
- **Immutable:**
  Tuples cannot be modified after their creation (elements cannot be added, removed, or changed).
- **Fixed Size:**
  Tuples have a fixed size once created.

**Note:**
- Tuples are created using parentheses `()` with elements separated by commas.
- Tuples can be heterogeneous, containing elements of different types.

________________________________________________________________________________________________________________________________________________________

**Creating an Empty Tuple:**

- Tuples can be created by placing a comma-separated sequence of elements within parentheses ().

- To create an empty tuple, use empty parentheses.

In [182]:
# First Way
empty_tuple = ()
print(empty_tuple)
type(empty_tuple)

()

tuple

In [184]:
# Second Way
empty_tuple_2 = tuple()
print(empty_tuple_2)
type(empty_tuple_2)

()

tuple

**Single-Element Tuple :**
- Single element tuple must have a comma, even if there's only one element.

In [187]:
Single_element_tuple = (1,)
print(Single_element_tuple)

(1,)

**Creating a Tuple with Elements:**

In [190]:
# Heterogeneous Tuple
my_tuple = (12, 5.0, True, 'Python')
print(my_tuple)

(12, 5.0, True, 'Python')

## **Basic Opeartions on Tuple**

In [193]:
my_tuple = ('Silvester', 12, 25, 30, 1999, 200.5, True, 'Python')
print(my_tuple)

('Silvester', 12, 25, 30, 1999, 200.5, True, 'Python')

## **Indexing :**
**Zero-Based Indexing:**                                                                                                                           
- The first element in a tuple is accessed with index 0, the second with index 1, and so on.

**Negative Indexing:** 
- Elements can also be accessed from the end of the tuple using negative indices, where -1 refers to the last element, -2 to the second-to-last, and so on.

In [197]:
print(my_tuple[0])   # Output: 'Silvester'

Silvester

In [199]:
print(my_tuple[1])   # Output: 12

12

In [201]:
print(my_tuple[-1])  # Output: 'Python'

Python

In [203]:
print(my_tuple[-5])  # Output: 30

30

***

## **Slicing:**
**The syntax for tuple slicing is :  tuple[start:stop]**

where:

start (optional): The index where the slice begins (inclusive). Defaults to the beginning of the tuple if omitted.

stop (optional): The index where the slice ends (exclusive). Defaults to the end of the tuple if omitted.

step (optional): The number of steps to take between each element. Defaults to 1 if omitted.

In [207]:
my_tuple = ('Silvester', 12, 25, 30, 1999, 200.5, True, 'Python')
print(my_tuple)

('Silvester', 12, 25, 30, 1999, 200.5, True, 'Python')

In [209]:
print(my_tuple[0:2])   # Output: ('Silvester', 12)

('Silvester', 12)

In [211]:
print(my_tuple[:-1])   # Output: ('Silvester', 12, 25, 30, 1999, 200.5, True)

('Silvester', 12, 25, 30, 1999, 200.5, True)

In [213]:
print(my_tuple[:4])    # Output: ('Silvester', 12, 25, 30)

('Silvester', 12, 25, 30)

In [215]:
print(my_tuple[-4:-1]) # Output: (1999, 200.5, True)

(1999, 200.5, True)

In [217]:
print(my_tuple[::-1])  # Output: ('Python', True, 200.5, 1999, 30, 25, 12, 'Silvester')

('Python', True, 200.5, 1999, 30, 25, 12, 'Silvester')

***

**Another Example:**

In [221]:
my_tuple = (1, "apple", 3.14, True, None)
print(my_tuple)

(1, 'apple', 3.14, True, None)

**Slicing from index 1 to 3:**

Explanation: 
- This slice starts at index 1 (inclusive) and ends at index 4 (exclusive). Therefore, it includes elements at indices 1, 2, and 3.

In [224]:
# Slicing from index 1 to 3
print(my_tuple[1:4])  # Output: ('apple', 3.14, True)

('apple', 3.14, True)

**Slicing from the beginning to index 2 :**

Explanation: 
- This slice starts from the beginning (index 0) and ends at index 3 (exclusive). Therefore, it includes elements at indices 0, 1, and 2.

In [227]:
# Slicing from the beginning to index 2
print(my_tuple[:3])   # Output: (1, 'apple', 3.14)

(1, 'apple', 3.14)

**Slicing from index 2 to the end :**

Explanation: 
- This slice starts at index 2 and goes all the way to the end of the tuple.

In [230]:
# Slicing from index 2 to the end
print(my_tuple[2:])   # Output: (3.14, True, None)

(3.14, True, None)

**Slicing the entire tuple :**

Explanation: 
- This slice includes all elements from the beginning to the end of the tuple.

In [233]:
# Slicing the entire Tuple
print(my_tuple[:])    # Output: (1, 'apple', 3.14, True, None)

(1, 'apple', 3.14, True, None)

**Slicing with a step of 2 :**

Explanation: 
- This slice starts from the beginning and includes every second element.

In [236]:
# Slicing with a step of 2
print(my_tuple[::2])  # Output: (1, 3.14, None)

(1, 3.14, None)

**Slicing with negative indices from -4 to -1 :**

Explanation: 
- This slice starts at index -4 (inclusive) and ends at index -1 (exclusive). Therefore, it includes elements at indices -4, -3, and -2.

In [239]:
# Slicing with negative indices from -4 to -1
print(my_tuple[-4:-1])  # Output: ('apple', 3.14, True)

('apple', 3.14, True)

**Slicing with a negative step to reverse the tuple :** 

Explanation: 
- This slice starts from the end of the tuple and steps backwards, effectively reversing the order of elements.

In [242]:
# Slicing with a negative step to reverse the tuple
print(my_tuple[::-1])   # Output: (None, True, 3.14, 'apple', 1)

(None, True, 3.14, 'apple', 1)

***

<h2 style="color:#23325A; font-weight: bold;">Methods:</h2>

<h3 style="color: #1193B2; font-weight: bold;">1. count() :</h3>

- The count method **returns the number of times a specified value appears in the tuple.**
-

In [247]:
my_tuple = (1, "apple", 3.14, True, None, "apple")
print(my_tuple)

# Count the number of times "apple" appears in the tuple
count_apple = my_tuple.count("apple")
print(count_apple)  # Output: 2

(1, 'apple', 3.14, True, None, 'apple')
2

<h3 style="color: #1193B2; font-weight: bold;">2. index() :</h3>

- The index method **returns the first index at which a specified value is found in the tuple.**

In [250]:
my_tuple = (1, "apple", 3.14, "Python", None, "apple")
print(my_tuple)

# Find the index of the first occurrence of "apple" in the tuple
index_apple = my_tuple.index("apple")
print(index_apple)  # Output: 1

# Find the index of the first occurrence of True in the tuple
index_true = my_tuple.index("Python")
print(index_true)  # Output: 3

(1, 'apple', 3.14, 'Python', None, 'apple')
1
3

***

**a) Immutability:** 
- **Tuples are immutable,** meaning once they are created, their elements cannot be changed.
- This makes tuples useful for **read-only collections of items**.

In [254]:
my_tuple = (1, "apple", 3.14, "Python", None, "apple")
print(my_tuple)

(1, 'apple', 3.14, 'Python', None, 'apple')

In [256]:
my_tuple[0]="grapes"

TypeError: 'tuple' object does not support item assignment

**b) Packing and Unpacking:** 
- Tuples support packing (grouping multiple values into a single tuple) and unpacking (extracting values from a tuple into variables).

In [260]:
packed_tuple = 1, "apple", 3.14  # Packing values into a tuple

print(packed_tuple)

(1, 'apple', 3.14)

**Unpacking:**

In [263]:
packed_tuple = 1, "apple", 3.14  # Packing values into a tuple
a, b, c = packed_tuple  # Unpacking values from the tuple into variables
print(a)  # Output: 1
print(b)  # Output: "apple"
print(c)  # Output: 3.14

1
apple
3.14

**c) Sorting:**

**is it Possible to Sort Tuple?**

Explanation:

- **1. Creating a Tuple:**
  We start with a tuple my_tuple containing numbers.

  
- **2.Converting to a List:** Since tuples are immutable, we convert it to a list my_list to allow sorting.
- **3.Sorting the List:** We sort the list using the sort() method.
- **4.Converting Back to a Tuple:** Finally, we convert the sorted list back to a tuple sorted_tuple.
- **Printing the Sorted Tuple:** The output shows the sorted elements of the original tuple

In [267]:
# Creating a tuple with numbers
my_tuple = (5, 2, 9, 1, 5, 6)
print(my_tuple)

(5, 2, 9, 1, 5, 6)

In [269]:
# Converting the tuple to a list
my_list = list(my_tuple)
print(my_list)

[5, 2, 9, 1, 5, 6]

In [271]:
# Sorting the list
my_list.sort()
print(my_list)

[1, 2, 5, 5, 6, 9]

In [273]:
# Converting the sorted list back to a tuple
sorted_tuple = tuple(my_list)

# Printing the sorted tuple
print("Sorted tuple as : ",(sorted_tuple))  # Output: (1, 2, 5, 5, 6, 9)

Sorted tuple as :  (1, 2, 5, 5, 6, 9)

**Note:**

If you want to sort a tuple without converting it back, you can use the **sorted() function**, which **returns a sorted list**:

In [276]:
# Using the sorted() function to sort the tuple
sorted_list = sorted(my_tuple)

# Printing the sorted list
print(sorted_list)  # Output: [1, 2, 5, 5, 6, 9]

[1, 2, 5, 5, 6, 9]

***

**Modify a Tuple:**

Since tuples are immutable, you cannot directly modify an item within a tuple. However, you can achieve a similar effect by converting the tuple to a list, making the desired modifications, and then converting it back to a tuple. 

Here’s an example:

In [280]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# Converting the tuple to a list
my_list = list(my_tuple)

# Modifying an item in the list
my_list[2] = 10  # Changing the third element from 3 to 10

# Converting the list back to a tuple
modified_tuple = tuple(my_list)

# Printing the modified tuple
print(modified_tuple)  # Output: (1, 2, 10, 4, 5)

(1, 2, 10, 4, 5)

**Explaination :**

**1.Creating a Tuple:** We start with a tuple my_tuple containing numbers.

**2.Converting to a List:** Since tuples are immutable, we convert it to a list my_list to allow modifications.

**3.Modifying an Item:** We modify the third element of the list (index 2) to the new value 10.

**4.Converting Back to a Tuple:** We convert the modified list back to a tuple modified_tuple.

**5.Printing the Modified Tuple:** The output shows the tuple with the modified element.