# Core Python

- Variable's


# Comments 

- Comments can be used to explain Python Code

- Comments can be used  make the code more readable

- Comments are ignored during execution ( not Consideing while executing the code)

- Single line comments  starts with #, and python will ignore them

- Multi- Line Comments starts with  """ and ends with """

In [1]:
# First Example of Single Line Comment    (First line starting with # will ignore)

print ("Hello")

Hello

In [2]:
"""""This is Multi-
        Line
Comment"""""    # Either  two Single quote OR Three Double Quote

print("Hello")

Hello

# Variables
- Stores a value

- Generally Values will be of

    **Numeric**
             
             - Without Decimal  ( Ex. 1, 2 , 900, 24000)  
             - With Decimal ( Ex. 10.20  , 1.5 , 1.02 )
             
            
    **Non-Numeric (Text)** 
            
            - Only Text 
            - Combination of Text with Numeric
            - Combination of Text with Special Characters
            
            
**Rules in Naming Variables** - 

- A variable name must start with a letter (a-z,A-Z) or the underscore character (_)

- A variable accepts only underscore _ symbol only. 

- A variable name cannot be start with number

- A variable name can contain combination of alpha-numeric characters and underscores

- Variable names are Case-Sensitive  (age, Age, AGE are three different Varaibles )

- It Can't accept reserve / Keywords

- List of Reserved Keywords : [36 Keywords]
                             
              False                 None             True                and                    as                 assert        
              async                 await             break             class               continue             def        
              del                       elif                else               except             finally                 for           
              from                  global               if                   import                in                     is             
              lambda            nonlocal           not                    or                  pass                 raise                   
              return                   try               while                with                yield

In [36]:
x=10

In [37]:
x + 10

20

In [38]:
a = 20

In [39]:
a1 = 50

In [40]:
a_1 = 20

In [41]:
# Correct Ways to Declare Variables
 
a     = 20

b     = -400

c     =  20.5 

num1    = 30

num_1   = 10

_num    =  5

name = "Hello , @ , !  , 44 "    #  <---------  Non-Numeric Data    -----> 16.2.2.4

Complex_num = 1+3j

In [1]:
# Ways to Declare Variables :

myvar = "John"

my_var = "John"

_my_var = "John"

myVar = "John"

MYVAR = "John"

myvar2 = "John"

In [42]:
# Incorrect Ways - to Declare Variables

1a = 50         # Variable Name cannot be start with Numeric Value
print(1a)

@a = 10       # Variable Name should be start with Alpha-Numeric , or Only Underscore (_)
print(@a)


if = 70         # Reserved Words cannot be used as Variable.

print(if)

SyntaxError: invalid decimal literal (3971561347.py, line 3)

**Variable Assignment :** - Storing a value in variable
- 1 Value to 1 Variable  :   e.g.  x=10

- Multiple Values to 1 Variable : e.g.  x = 10,20,30

- 1 Value to Multiple Variables : e.g. x=y=z=10

- Multiple Values to Multiple Variables

**1.One Value to One Variable :**

In [43]:
x = 10 

print(x)

10

**2. Multiple Values to one Variable**

In [44]:
a = 10,20,30

print(a)

type(a)

(10, 20, 30)

tuple

**3.One Value to Multiple Variables**

- We can Assign the same value to multiple variables in one line

In [45]:
a = 10 
b = 10
c = 10

#OR

a = b = c = 10 

print(a,b,c)

10 10 10

- **id()- To Check the Address of  the value or a variable**

In [46]:
a=b=c=10

print(a,b,c)

id(a)
id(b)
id(c)         # Same Id assigned to all Variables

10 10 10

140735047582792

In [47]:
id(b)

140735047582792


**4.Multiple Values to Multiple Variables**  -
 
   - Python allows you to assign values to multiple variables in one line
 
   **Note :** Make Sure the Number of variables matches the number of values, or else you will get an error.

In [48]:
a = 10
b = 20
c = 30
d= 100
# OR   We can Write like Below 

a,b,c,d = 10, 20,30,100
print(a,b,c,d)

id(a)

10 20 30 100

140735047582792

**Note :in Python Latest Value Stored in Variable**

In [10]:
# e.g. 
first_value = 10
print(first_value)

'''' Now We are going to save  20 as a first value. 
It will Automatically Store 20in varibale and previous one is cleared.'''

first_value = 20
print(first_value)#   ----->  It gives 20

10
20

# Data Types

- **1.Fundamental Data Types :**
                
                    - These object can store only  1 Value.
                    - All Fundamental data types objects are **immutable** (Once we Assign a object with value, we can't modify the value in the object)
                    
                        - Integer          (int)                    ------->    42   (no decimal)
                        - float             (float)                  ------->    3.5 
                        - Complex     (complex)            ------->    2+3j
                        - Boolean      (bool)                   ------>    True , False
                        - String          (str)                     ------->    "Hello" or  'Hello'
                        
- **2.Advance Data Types :**
                                
                 - It Can Store Multiple Values in a Single Object.

     - List
     - Tuple
     - Set
     - Dictionary

# **1.Fundamental Data Types:-**

**i) Int**-:
   - It Stores Only One Value
   
   - It Stores Only Numeric Values and doesn't store Decimal Values.

In [49]:
a = 10 

# To Check the Data-Type use type()

type (a)

int

**ii) Float**-:  
 - Stores Decimal Values 
 - It Stores only Numeric Values

In [50]:
b = 14.58

c = -14.58

type(b)

type(c)

float

**iii) Complex-:**
  - Stores Complex Numbers 
  - Left side is Real Part ,  Right Side is Imaginary Part

In [51]:
z = 4 + 5j
type (z)

complex

**iv) Boolean-:**
- It Stores True or False Value Only

- Make Sure first Letter is Capital   e.g True , False 

-  Other than Numbers ( int , float, complex  & boolean )

In [52]:
f = True

type(f)

bool

**V) String-:** 
- Stores Character Values
- String is written in between " " Or '  '

In [1]:
c = "Hello This is String , @@@, $##@ , 2 "

type(c)

d = " 2 "

print (d) 

type(d)

 2

str

# **2.Advanced Data Types -:**
     
   - List
   - Tuple
   - Set
   - Dictionary

**i) List :**
  - Stores  Multiple Value in [ Square Bracket ]  i.e . [ ]

In [2]:
l = [ 10, 20, 30, 40, "Python"]

print(l)

type(l)

[10, 20, 30, 40, 'Python']

list

**ii) Tuple :**
- Represent in (Round Bracket) i.e.  ()
- in python by default multiple values stored as Tuple
- Tuple is Immutable in Python ( i.e. Once we assign the values to tuple , then we can't modify later in that tuple)

In [19]:

d = 4.5, 10,"Python"

# in python by default multiple values stored as Tuple

print(d)

type(d)

(4.5, 10, 'Python')

tuple

In [1]:
# Immutable Property of Tuple :

tuple_1 = (1,2,3,4,5,6,7,8)

print(tuple_1)
tuple_1[1] = 10
print(tuple_1)

(1, 2, 3, 4, 5, 6, 7, 8)

TypeError: 'tuple' object does not support item assignment

**iii) Set :** 
- Sets are used to store multiple items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data

- A set is a collection which is unordered, unchangeable*, and unindexed.

- Sets are written with curly brackets.  { Curly Bracket } i.e. { }


**Note: Set items are unchangeable, but you can remove items and add new items.**

    -

**Create a Set :**

In [4]:
fruits = {"apple", "banana", "cherry"}

print(fruits)

{'cherry', 'banana', 'apple'}

In [5]:
type(fruits)

set

**Set Items :**
- Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered :**
- Unordered means that the items in a set do not have a defined order.

**Set items can appear in a different order every time you use them, and cannot be referred to by index or key.**




**Unchangeable :**
- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

**Once a set is created, you cannot change its items, but you can remove items and add new items.**

- Duplicates Not Allowed
- Sets cannot have two items with the same value.

**Example**

**Duplicate values will be ignored:**

In [6]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}